@import '../../styles/reset.scss';
@import '../../styles/variables.scss';

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    padding-bottom: 50px;
    & .cardList{
        width: 25%;
    }
}