@import '../../styles/reset.scss';
@import '../../styles/variables.scss';

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: $background-color;
  box-sizing: border-box;
  overflow-x: hidden;
  & .info {
    position: absolute;
    width: 80%;
    top: 20%;
  }
  & .tab {
    position: absolute;
    width: 80%;
    top: 45%;
  }
}
