@import '../../styles/reset.scss';
@import '../../styles/variables.scss';

.account {
  cursor: pointer;
  display: flex;
  @media (max-width: 500px) {
    display: none;
  }
}
.myimg{
  margin-right: 1.5rem;
  width: 3.5rem;
  border-radius: 50%;
}