@import 'styles/reset.scss';
@import 'styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&display=swap');

.container {
  position: relative;
}
.backImg {
  width: 110%;
  height: 110vh;
  filter: grayscale(1);
  position: fixed;
  top: -10%;
  left: -10%;
  z-index: -1;
  transition: all 0.5s ease-out;
}
