@import '../../styles/reset.scss';
@import '../../styles/variables.scss';

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: $background-color;
  box-sizing: border-box;
  overflow-x: hidden;
  & .notiContainer {
    // border: 1px solid red;
    position: absolute;
    top: 17%;
    width: 60%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 3rem 0;
    & .noAlarm {
      // color: white;
      font-weight: bold;
      background-color: rgba(255,255,255,0.7);
      border-radius: 12px;
      width: 50%;
      text-align: center;
      padding: 15px 20px;
    }
    & .item {
      width: 100%;
      margin: 6px 20px;
    }
  }
}
