@import 'styles/reset.scss';
@import 'styles/variables.scss';

canvas {
  width: 100v;
  height: 100vh;
  background: radial-gradient(
    rgb(68, 70, 75) 0%,
    rgb(58, 60, 65) 15%,
    rgb(48, 50, 55) 25%,
    rgb(38, 40, 45) 40%,
    $background-color 60%
  );
}

.universe {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
}
