@import 'styles/reset.scss';
@import 'styles/variables.scss';

.appContainer {
  width: 100%;
  background-color: #151515;
  position: relative;
  & .contentContainer {
    width: 100%;
    position: absolute;
    top: 0;
  }
}
