@import './reset.scss';

// @font-face {
//   font-family: 'NanumSquare';
//   src: url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
// }

//background color
$background-color: #202225;
// Colors
$main-color: #00BD13;
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #343a40;
$green : #00BD13;

// Typography
$font-family-base: 'NanumSquare', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Layout
$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Spacing
$spacer: 1rem;
$spacer-x: 1rem;
$spacer-y: 1rem;
$spacer-top: 0;
$spacer-right: 1rem;
$spacer-bottom: 1rem;
$spacer-left: 1rem;

// Borders
$border-radius: 0.25rem;
$border-width: 1px;
$border-color: #dee2e6;
