@import 'styles/reset.scss';
@import 'styles/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&display=swap');

.container {
  border: 1px solid #4C505C;
  background-color: #282A30;
  border-radius: 15px;
  padding: 2em 1em;
  margin-bottom: 2em;
  & .subText{
    color: gray;
  }
  & .price{
    margin: 0.5em 0 1em 0;
    font-size: 2em;
    font-weight: 700;
  }
  & .modalTitle{
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    margin: 2em 0;
  }
  & .modalINput{
    display: flex;
    & .modalList{
      width: 20%;
    }
  }
}