@import 'styles/reset.scss';
@import 'styles/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&display=swap');

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #252525;
  padding: 8rem 2rem;
  box-sizing: border-box;
  display: flex;
  color: white;
  overflow-x: hidden;
  
  
  & .leftDiv{
    width: 40%;
  }
  & .rightDiv{
    width: 60%;
    padding: 0 2rem;
    
  }
}
