@import 'styles/reset.scss';
@import 'styles/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&display=swap');

.container {
  color: white;
  
  & .check{
    color: $green;
    display: flex;
  }
  & .title{
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-top: 1em;
    & .heart{
      color: red;
    }
  }
  & .light{
    color: #00BD13;
    margin-left: 0.5em;
  }
  & .flexDiv{
    display: flex;
    margin: 1em 0;
  }
}
.icon{
  width: 1.2em;
}